@model TransportProject.Models.User

@{
    ViewData["Title"] = "Register";
}

<h2>Register User</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

<form asp-action="Register" method="post">

    <div class="form-group">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Role</label>
        <select asp-for="RoleId" class="form-control">
            <option value="1">Admin</option>
            <option value="2">Dispatcher</option>
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-success">Register</button>

</form>